/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background-color: #1890ff
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

.site-page-header-ghost-wrapper {
  padding: 24px;
  background-color: #f5f5f5;
}